body{
    padding: 2px;
   }

   #topBanner{
    color:rgb(75, 7, 75)

   }

   #topSection{
    margin:30px;
   }

   #chopPicMain{
   
   }

   #twoChopPics{
   
   }
       #bottomSection{
          background-color:rgb(75, 7, 75); 
          color:bisque;
          padding:10px;
          margin:10px

           }
           
    
    button{
        font-size: larger;
        font-family:Arial, Helvetica, sans-serif ;
        align-items:center;
        border-style: outset;
        border-radius: 10px;
        
    }

    #loveOfChops{
        padding-right:70px
    }
    #topCart{
        padding: 15px;
        padding-left: 0px;
    }
    #addToCart{

        color:black;
            }

    #addToCart2{
        color: black;
        fill:black ;
        
    }
        #bottomSectionH2{
            padding-left: 50px;
        }

        #
   