body{
    
   }
   #topSection{
    padding:30px;
   }
       #bottomSection{
           background-color:purple; 
           color:bisque;
           padding:20px;
           border-image:round;

           }
           
    
    button{
        font-size: larger;
        font-family:Arial, Helvetica, sans-serif ;
        align-items:center;
        border-style: outset;
    }

        #bottomSectionH2{
            padding-left: 50px;
        }
   